#banner {
	width: 100%;
}

#banner-info {
	position: relative;
	width: 100%;
	height: calc(100% - 140px);
	overflow: hidden;
	margin-bottom: 30px;
	overflow: hidden;
}

#banner-info:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-image: url(../img/banner-mask.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	mix-blend-mode: multiply
}

#banner-contents {
	width: 100%;
	height: 100%;
}

#banner-contents li {
	width: 100%;
	height: 100%;
	transition: all 1s;
	position: absolute;
	top: 0;
	left: 0;
}

#banner-contents li.active {
	opacity: 1;
}

#banner-contents li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	opacity: 0;
	transition: all 1s;
}

.banner-content {
	position: absolute;
	width: 100%;
	left: 30px;
	bottom: 30px;
	z-index: 3;
	max-width: 430px;
	opacity: 0;
	transition: all 1s;
}

#banner-contents li.active img,
#banner-contents li.active .banner-content {
	opacity: 1
}

.banner-content h2 {
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	font-weight: bolder
}

.banner-content p {
	font-size: 16px;
	line-height: 19px;
	color: #fff;
}

#banner-thumbs {
	width: 100%;
	padding: 0 10px;
}

#banner-thumb-items {
	width: 100%;
	text-align: center;
}

#banner-thumb-items li {
	width: calc(20% - 16px);
	height: 125px;
	background-color: #000;
	margin: 0 7.5px;
	display: inline-block;
	border-top: 5px solid #f37121;
	position: relative;
}

#banner-thumb-items li a {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
}

#banner-thumb-items li::before {
	content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f37121;
	position: absolute;
	top: -5px;
	left: 0;
}

#banner-thumb-items li:first-child::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #f37121;
	position: absolute;
	top: -5px;
	left: 0;
	transform: translate(-35px,-20px) rotate(-180deg);
}

#banner-thumb-items li:first-child.entra::after {
	transform: translate(0,-5px) rotate(0);
	transition: linear 1s;
}


#banner-thumb-items li.active::before {
	transform: translate(0, -5px) rotate(0);
	animation-delay: 1s;
	animation-duration: 5s;
	animation-name: corre;
	animation-timing-function: linear;
}

@keyframes corre {
	from{ left: 0; }
	to{ left: calc(100% - 10px); }
}

#banner-thumb-items li.jump::before {
	left: calc(100% - 10px);
	transform: translate(0, -5px);
	animation-duration: 1s;
	animation-name: jump;
	animation-timing-function: linear;
}

@keyframes jump {
	0%{ transform: translate(0, -5px) rotate(0); }
	50%{ transform: translate(15px,-20px) rotate(180deg); }
	100%{ transform: translate(29px,-5px) rotate(360deg); }
}

@keyframes desce {
	from{ top: -5px; }
	to{ top: 0; }
}

#banner-thumb-items li:first-child {
	margin-left: 0;
}

#banner-thumb-items li:last-child {
	margin-right: 0;
}

#banner-thumb-items img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: ease .5s;
	opacity: 0.6
}

#banner-thumb-items li.active img,
#banner-thumb-items li:hover img {
	opacity: 1;
	transform: scale(1.1);
}

#banner-thumb-items.stop li.active img {
	opacity: 0.6;
}
